* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

body{
    background-color: #add8e6;
    font-family: "Nerko One";
}

/*HEADER*/
h1{
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
/*FINE HEADER*/


/*MAIN*/

.container{
    width: 65%;
    height:660px;
    margin: auto;
    background-color: red;
    
}

.row {
    width: 100%;
    text-align: center;
    background-color: green;
    border: 1px solid white;
    
}

.card{
    display: inline-block;
    width: 20%;
    height: 200px;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    
}

img {
    width: 100%;
    display: block;
    padding: 10px;
}

.card img{
    display: none;
}

.card:hover {
    background-image: none;
}

.card:hover img{
    display:block;
}
/*FINE MAIN*/

/*FOOTER*/
/*FINE FOOTER*/